@import 'tailwindcss';

@theme {
  --default-font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';

  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: 'Inter', ui-serif, Georgia, Cambria, 'Times New Roman', Times,
    serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    'Liberation Mono', 'Courier New', monospace;
}
